// colors //
$white:         #fff;
$black:         #111;
$brand-primary: darken(#428bca, 6.5%); // #337ab7
$brand-success: #5cb85c;
$brand-info:    #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger:  #d9534f;

.force-left {
  text-align: left!important;
}

.left-margin {
  margin-left: 20px;
}

.glyphicon{
    &.error {
      color: $brand-danger;
    }
}

div.step-container{
  margin-left: 0;

  form {
    margin-left: 15px;
    margin-right: 15px;

    .control-label {
      float: left;
    }

    &.form-horizontal {
      .input-group {
        // padding-top: 8px;
      }
    }
  }
}

.substep-title {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 20px;
  display: block;

  &.inline {
    margin-top: 8px;
    float: left;
  }
}

.step-4 {
  .checkbox-inline + .checkbox-inline {
    margin-left: 0;
  }
}
.step-5-list {
  max-width: 80%;
  margin-left: 35px;

  li{
    display: block;
    overflow: hidden;
  }
}

.inner-list {
  margin-left: 15px;
}

.li-inner-box {
  max-width: 85%;
}

li.inner-padding{
  padding: 15px 0;
}

.inner-padding-bt{
  padding: 0 0 10px;
}

.gray-container {
  width: 100%;
  float: left;
  padding: 10px 20px;
  margin: 15px 0;
  overflow: hidden;
  background-color: #EAEAEA;
  border-radius: 5px;
}

.input-wrapper{
  &.small {
    width: 11%;
    padding: 0 14px;
    float: left;
  }
}

.mid-input-div {
  border-left: 0;
  border-right: 0;
}

.lg-label {
  font-size: 16px;
}

label.checkbox-inline {
    margin-right: 6px;
}

label.label-mov-cerv {
  min-width: 165px;
}

label.label-peso {
  min-resolution: 52px;
}

ul + button.btn {
  margin-left: 20px;
  margin-top: 10px;
}

.li-black {
  color: $black;
  font-size: 16px;

  p {
    color: $black;
    font-size: 16px;
    display: inline-block;
  }

  span.glyphicon {
    display: inline-block;
    margin: 0 15px;
  }
}

.li-inner-box {

}

.upload-btn {
  width: 100%;
  padding: 8px 12px;
  background: #eeeeee;
  color: #428bca;
  border: 1px dashed #428bca;
}

.risk-field {
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;

  &.aldrete {
    color: $black;

    &::-webkit-input-placeholder {
      color: $black;
    }
    &::-moz-placeholder {  /* Firefox 19+ */
      color: $black;
    }
    &:-ms-input-placeholder {
      color: $black;
    }
  }

  &.low {
    color: $white;
    background-color: lighten($brand-info, 10%);
  }
  &.mid {
    color: $white;
    background-color: lighten($brand-warning, 10%);
  }
  &.high {
    color: $white;
    background-color: lighten($brand-danger, 10%);
  }

  &::-webkit-input-placeholder {
    color: $white;
  }
  &::-moz-placeholder {  /* Firefox 19+ */
    color: $white;
  }
  &:-ms-input-placeholder {
    color: $white;
  }
}

.modal {
  &.modal-large {
    .modal-body {
      max-width: 95%;
    }
  }

  &.modal-extra-large {
    .modal-dialog {
      @media (min-width: 769px) {
        max-width: 1100px;
      }
    }
  }

  .modal-dialog {
    @media (min-width: 769px){
      width: 80%;
      max-width: 950px;
    }
  }

  .modal-header {
    background: #374152;
  }

  .subheader {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #EEEEEE;
    padding: 22px 30px;

    label {
      font-weight: 100;
      font-size: 18px;
    }

    .label-col {
      width: 20%;
      float: left;
      padding: 5px 0 0;
    }
  }

  .modal-body {
    max-width: 90%;
    margin: 0 auto;

    .age {
      margin: 14px 0 10px;
    }
  }

  .alert {
    margin-top: 30PX;
    font-size: 15PX;
    font-weight: 600;
    text-align: center;

    &.alert-info {
      // background-color: #d9def7;
      // color: #4B5A73;
    }

  }
    .doble-in-drop{
      &.first {
        padding-right: 0;
      }

      &.second {
        padding-left: 0;
      }
      > input {
        border-radius: 4px 0px 0px 4px;
      }

      > select {
        border-radius: 0 4px 4px 0px;
        border-left: 0;
      }
    }

  &#accesosVasc{
    .modal-body {
      padding-top:45px;

    }
  }
}

.add-new {
  display: inline-block;
  padding-top: 6px;
}

.step-6 {
  .panel-group {
    .panel {
      margin-bottom: 0;
      margin-top: 5px;
    }

    .panel-heading {
      padding: 20px 15px;
      position: relative;

      .btn {
        position: absolute;
        right: 22px;
        top: 50%;
        transform: translate(0%,-50%);
      }

      .panel-title {
        font-weight: 400;
        font-size: 20px;
        padding-left: 40px;

        span {
          padding: 5px;
          position: absolute;
          left: 15px;
          top: 50%;
          transform: translate(0,-50%);
          background-color: #428BCA;
          color: $white;
          border-radius: 4px;
        }
      }
    }

    .panel-body {
      margin: 0 10px;
    }

    .collapse {
      width: calc(100% - 20px)
    }

    table {
      margin-left: 10px;
      margin-right: 10px;

      td {
        font-size: 17px;
        color: $black;

        &.text-primary {
          color: #428bca;
        }
      }
    }
  }
}
.step-6-modal {
  .input-group {
    input {
      min-width: 120px;
    }
  }
}

.step-7 {
  .aldrete-label {
    font-weight: 200;
    font-size: 19px;
    padding-top: 6px;
  }
}

.score-container {
  padding-top: 45px;

  .score-title {
    text-align: center;
    font-size: 18px;
    padding-bottom: 20px;
  }

  .score {
    width: 120px;
    height: 120px;
    display: block;
    border: 3px solid green;
    border-radius: 50%;
    text-align: center;
    position: relative;
    margin: 0 auto 15px;
    color: green;

    &.high {
      color: #a94442;
      background-color: #f2dede;
      border-color: #ebccd1;
    }

    &.medium {
      color: #8a6d3b;
      background-color: #fcf8e3;
      border-color: #faebcc;
    }

    &.low {
      color: #31708f;
      background-color: #d9edf7;
      border-color: #bce8f1
    }

    &.initial {
      color: #3c763d;
      background-color: #dff0d8;
      border-color: #d6e9c6;
    }

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      display: block;
      font-size: 45px;
      color: inherit;
    }
  }

  .alert {
    font-weight: 400;
    font-size: 16px;
    padding: 25px 30px;

    a{
      margin: 6px 0;
      display: block;
    }
  }
}

.step-7-modal {
  .gray-container {
    margin: 5px 0;
  }

  .half-label {
    margin-top: 10px;
    font-weight: 600;
    font-size: 16px;
    color: black;
  }
}
