<!DOCTYPE html>
<html>
  <head>
    <title>Omnia Salud</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="Content-Language" content="es">
    <link href="//fonts.googleapis.com/css?family=Economica:400,700,400italic,700italic|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
    rel="stylesheet" type="text/css">
    <link href="/webjars/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/all.css">
  </head>
  <body lang="es">

    <nav class="navbar navbar-fixed-top" role="navigation" >
      <div class="container-fluid navbar-container" >
        <div>
          <div class="navbar-left-item"></div>
          <div class="navbar-left-item">
            <div class="btn-group">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
                Historia Clínica&nbsp;&nbsp;<span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="nav-dropdown">
                <li ng-repeat="it in navigation" role="presentation">
                  <a role="menuitem" tabindex="-1" ng-click="pick(it.id)" href="#">{{it.label}}</a></li>
              </ul>
            </div>
          </div>
          <a href="#" suggestion-box class="navbar-left-item">
            <span class="fa-stack fa-lg with-tooltip" data-toggle="tooltip" data-placement="bottom" title="Enviar Sugerencia">
              <i class="fa fa-circle-thin fa-stack-2x"></i>
              <i class="fa fa-lightbulb-o fa-stack-1x"></i>
            </span>
          </a>

        </div>
        <div class="collapse navbar-collapse" id="omnia-nav">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <div class="doctor-info">Fernandez, Pablo (ANDROLOGIA)</div>
            </li>
            <li>
              <a href="#" ng-click="promptExit();" target="_self">
                <span class="with-tooltip" data-toggle="tooltip" data-placement="bottom" title="Salir">
                  <i class="fa fa-lg fa-sign-out"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="container-fluid navbar-container navbar-container-sub">
        <ul class="subitems">
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="view-container">


<!-- ngView:  -->
<div class="view-frame col-xs-12 ng-scope" ng-view="" id="main-content">
  <!-- ngInclude: '/assets/templates/patient/header.html' -->
  <div id="patient-header" class="col-xs-2 ng-scope">
    <!-- ngIf: patient.id && patient.id> 0 -->
    <div class="sticky panel ng-scope" >
      <div class="panel-body patient-header">
        <div class="avatar clearfix">
        </div>
        <!-- ngIf: patient -->
        <div class="patient-info ng-scope" ng-if="patient">
          <h5 class="ng-binding">Alvarez, Alicia Maria</h5>
          <p> <span class="ng-binding">75 años</span>&nbsp;<i class="fa fa-info-circle" tooltip="" tooltip-title="Fecha de nacimiento: 23-06-1940" data-toggle="tooltip" data-placement="right" data-html="false" title="" data-original-title="Fecha de nacimiento: 23-06-1940"></i> </p>
          <p ng-show="patient.documento" class="hidden-xs"> <span class="ng-binding">DNI: 2344332</span> </p>
          <p ng-show="patient.healthCare" class="ng-binding"> GALENO<br>2341234800 </p>
          <p ng-show="patient.currentLocation" class="ng-binding"> <i class="fa fa-lg fa-bed"></i>&nbsp;&nbsp;1 (1) </p>
        </div>
        <!-- end ngIf: patient --> <!-- ngIf: patient.episodes -->
        <div class="row-margin-top episode-list ng-scope" ng-if="patient.episodes">
          <p><strong>Internación</strong></p>
          <!-- ngRepeat: e in patient.episodes -->
          <p ng-repeat="e in patient.episodes" class="episode-dates ng-scope"> <a href="/patients/887420/episodes/760878/evolutions" selected-class="selected" selected-regexp="patients/887420/episodes/760878/.*" tooltip="" placement="top" tooltip-title="Episodio 760878" class="ng-binding selected" data-toggle="tooltip" data-placement="top" data-html="false" title="" data-original-title="Episodio 760878"> 09/10/2015 - <span ng-show="e.end" class="ng-binding ng-hide"></span><span ng-hide="e.end" class=""><span>Hoy</span> </span></a> </p>
          <!-- end ngRepeat: e in patient.episodes -->
        </div>
        <!-- end ngIf: patient.episodes -->
      </div>
    </div>
    <!-- end ngIf: patient.id && patient.id> 0 --> <!-- ngIf: patient.id && patient.id < 0 --> <a id="return-to-top" ng-click="returnToTop();" class="ng-scope"> <i class="fa fa-chevron-up"></i> </a>
  </div>
  <div class="col-xs-8 ng-scope">

    <div class="row timeline-filters-row ng-scope"  ng-class="{ 'visible': filtersVisible }">
      <div class="col-xs-12">
        <div class="panel">
          <div class="panel-body timeline-filters-panel">
            <form class="form ng-pristine ng-valid">
              <div class="col-xs-2"> <input name="start" type="text" class="form-control default-date-picker ng-pristine ng-valid" ng-model="filter.start" date-picker="" placeholder="Desde..."> </div>
              <div class="col-xs-2"> <input name="end" type="text" class="form-control default-date-picker ng-pristine ng-valid" ng-model="filter.end" date-picker="" placeholder="Hasta..."> </div>
              <div class="col-xs-3">
                <select class="form-control ng-pristine ng-valid" ng-model="filter.problem" ng-options="p.name as p.evolutionName for p in filterProblems">
                  <option value="" class="">Problema...</option>
                </select>
              </div>
              <div class="col-xs-3">
                <select class="form-control ng-pristine ng-valid" ng-model="filter.author" ng-options="a.id as a.fullName for a in filterAuthors">
                  <option value="" class="">Autor...</option>
                </select>
              </div>
              <div class="col-xs-1"> <button class="btn btn-primary" ng-click="applyFilters(filter);">Filtrar</button> </div>
              <div class="col-xs-1"> <button class="btn btn-default hidden-lg close-filters" ng-click="cleanFilters();"><i class="fa fa-times-circle"></i></button> </div>
              <div class="col-xs-1"> <button class="btn btn-link visible-lg" ng-click="cleanFilters();">Cerrar</button> </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="panel timeline-panel">
          <div class="panel-body">
            <div class="timeline">
              <div class="timeline-controls ng-scope" >
                <button class="btn btn-link pull-right ng-hide" title="Filtrar evoluciones" ng-click="showFilters();" ng-hide="filtersVisible || activeForm != 'none'"> <i class="fa fa-filter timeline-filter-icon"></i> </button>
                <article class="timeline-item-start first hidden-xs ">
                  <div class="timeline-desk editable edit">

                    <!-- FICHA SUPPORT -->
                    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
                    <script>
                      var app = angular.module('sample', []);

                      app.controller('SampleController', function($scope) {

                        $scope.steps = ['Datos de ingreso', 'Step 2', 'Step 3'];

                        $scope.exit = function () {
                          alert('clicked exit');
                        };

                        $scope.next = function () {
                          $scope.step++;
                        };

                        $scope.prev = function () {
                          $scope.step--;
                        };

                        $scope.finish = function () {
                          alert('clicked finish');
                        };

                        $scope.step = 1;
                      });
                    </script>
                    <!-- FICHA START -->
                    <div class="panel ng-scope" ng-app="sample" ng-controller="SampleController">
                      <div class="panel-heading ng-binding">Ficha de ingreso</div>
                      <div class="panel-body ng-scope">
                        <span class="timeline-icon"></span>
                        <div class="ng-scope">
                          <div class="ng-scope" >
                            <div class="mi-navigation">
                              <div class="progress-legend title-blue"> <span class="step-nr ng-binding">Paso {{step}} de {{steps.length}}.</span>
                                <span class="step-title title-blue-accent ng-binding">{{steps[step-1]}}</span>
                              </div>
                              <div class="progress">
                                <div class="progress-bar progress-bar" role="progressbar" style="width: {{(step/steps.length) * 100}}%"></div>
                              </div>
                            </div>
                            <div class="step-container" ng-show="step === 1">
                              <!-- STEP ONE -->
                              <div>
                                <form class="form-horizontal ng-scope ng-pristine ng-invalid ng-invalid-required" role="form" name="ingreso1" id="ingreso1" novalidate="">
                                  <div>
                                    <div class="form-group">
                                      <label for="date" class="col-xs-3 control-label">Fecha</label>
                                      <div class="col-xs-3"> <input type="text" class="form-control ng-pristine ng-valid ng-valid-required" default-date-picker="" date-picker=""> </div>
                                      <label for="date" class="col-xs-3 control-label">Hora</label>
                                      <div class="col-xs-3"> <input type="text" class="form-control ng-isolate-scope ng-pristine ng-valid ng-valid-required" time-picker="" > </div>
                                    </div>

                                    <div class="form-group">
                                      <label for="date" class="col-xs-3 control-label">Se interna en</label>
                                      <div class="col-xs-3">
                                        <select class="form-control ng-pristine ng-invalid ng-invalid-required" ng-model="data._1.sectorDestino" required="">
                                          <option value="">Seleccione...</option>
                                          <option value="Internación general">Internación general</option>
                                        </select>
                                      </div>

                                      <label for="date" class="col-xs-3 control-label">Proveniente de</label>
                                      <div class="col-xs-3">
                                        <select class="form-control ng-pristine ng-invalid ng-invalid-required" ng-model="data._1.sectorOrigen" required="">
                                          <option value="">Seleccione...</option>
                                          <option value="Internación general">Internación general</option>
                                        </select>
                                      </div>
                                    </div>
                                  </div>
                                </form>
                              </div>
                              <!-- STEP TWO -->
                              <div ng-show="step === 2">
                                <h3>Step Two</h3>
                              </div>
                              <!-- STEP THREE -->
                              <div ng-show="step === 3">
                                <h3>Step Three</h3>
                              </div>
                            </div>
                            <div class="mi-navigation mi-navigation-bottom">
                              <button type="button" class="btn btn-link" ng-click="exit();">Salir</button>
                              <div tooltip="" class="pull-right">
                                <button type="button" class="btn btn-primary pull-right" ng-click="next();"
                                  ng-disabled="saving" ng-hide="step === steps.length">
                                  <span ng-show="saving" class="ng-hide"><i class="fa fa-spin fa-spinner"></i>&nbsp;&nbsp;</span>
                                  Siguiente
                                </button>
                                <button type="button" class="btn btn-primary pull-right ng-hide" ng-click="finish();"
                                  ng-disabled="saving" ng-show="step === steps.length">
                                  <span ng-show="saving" class="ng-hide"><i class="fa fa-spin fa-spinner"></i>&nbsp;&nbsp;</span>
                                  Finalizar
                                </button>
                              </div>
                              <button type="button" class="btn btn-default pull-right ng-hide" ng-click="prev();"
                                ng-hide="step === 1">Atrás</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- FICHA END -->

                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="right-panel" class="col-xs-2 hidden-xs ng-scope" >
    <div class="sticky ng-scope">
      <div ng-show="cardToHide != 'allergies'" class="row panel allergies-panel ng-scope"  ng-class="{'severe': anySevere }">
        <div class="panel-heading"><a href="/patients/887420/episodes/760878/problems">alergias</a></div>
        <div class="panel-body" ng-switch="" on="allergies &amp;&amp; allergies.length> 0">
          <!-- ngSwitchWhen: true --> <!-- ngSwitchDefault:  -->
          <p ng-switch-default="" class="ng-scope">No hay alergias.</p>
        </div>
      </div>
      <div ng-show="cardToHide != 'problems'" class="row panel ng-scope" >
        <div class="panel-heading"><a href="/patients/887420/episodes/760878/problems">problemas</a></div>
        <div class="panel-body" ng-switch="" on="problems &amp;&amp; problems.length> 0">
          <!-- ngSwitchDefault:  -->
          <p ng-switch-default="" class="ng-scope">No hay problemas <span ng-show="hiddenProblemsCount> 0" class="ng-hide"> activos ni procedimientos.<br> <a href="/patients/887420/episodes/760878/problems">Ver más...</a> </span> </p>
          <!-- ngSwitchWhen: true -->
        </div>
      </div>
    </div>
  </div>

</div>
        </div>
      </div>
    </div>
  </body>
</html>
